* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.login-bg {
  background: url("https://i.imgur.com/kF5iV09.jpeg");
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  width: 420px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(15px);
  padding: 40px;
  border-radius: 20px;
  text-align: center;
}

label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #a270ff;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #8756ff;
}

.login-remember {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

a {
  color: #a270ff;
  text-decoration: none;
}
